/* About Page Specifics */
/* TODO: FIX LANDSCAPE FOR PHONE */

/* Fading Image */
.about-pic {
  display: block;
  width: 100%;
  height: 0;
}
img {
  right: 0;
  width: auto;
  height: 100vh;
  margin-top: -8px;
  margin-right: max(1 / -30%, 1 / -50vw);
  position: absolute;
}
img {
  -webkit-mask-image:-webkit-gradient(linear, right top, left top,
  color-stop(50%,var(--bg-color)), color-stop(60%, rgba(251, 251, 251, 0.5)),
  color-stop(80%, rgba(0, 0, 0, 0)));
}

/* Textwrap for Fading Pic */
.blank-space {
  margin-right: 50vw;
}

/* Background for PC */
body {
  background: url("../../peerbo.github.io/img/arches-abt.png"),
    linear-gradient(to right, #1c5965, #329db2, #6fc5d6);
  animation: slide-right 30s ease-in-out infinite;
}

@keyframes slide-right {
  0% { background-position: left; }
  50% { background-position: center; }
  100% { background-position: left; }
}

/* Background for Phone */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  body {
    background-image: url("../../peerbo.github.io/img/arches.png"),
    linear-gradient(to top, #1c5965, #329db2, #6fc5d6);
    animation: slide 20s ease-in-out infinite;
  }

  @keyframes slide {
    0% { background-position: top; }
    50% { background-position: center; }
    100% { background-position: top; }
  }
}


@media (max-width: 1400px){
  img {
    object-fit: cover;
    width: 100vw;
    max-height: 80vh;
    height: auto;
    overflow: hidden;
  }
  img {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
    color-stop(40%,var(--bg-color)), color-stop(70%,rgba(251,251,251,0.5)),
    color-stop(90%,rgba(251,251,251,0)));
  }
  .blank-space {
    margin-right: 0;
  }
  .about-pic {
    position: relative;
    z-index: -1;
    left: 0;
    top: 0;
    right: auto;
    width: 100vw;
    height: 60vh;
    margin: 0;
    display: block;
  }
}
