/* Fonts Used for each Page */

/* Filler Text; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
 do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
 veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
 dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
 sunt in culpa qui officia deserunt mollit anim id est laborum.*/

/*Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Italliano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@450&display=swap');

/* Color Scheme */
:root {
  --h1-color: #53b0bd;
  --h3-color:#12646f;
  --text-color: #aeaeae;
  --sidenav-head: #fbfbfb ;
  --text-update: #818181;
  --link: #92dccd;
}

/* Headings and Subheadings */
h1{
  font-size: 70px;
  color: var(--h1-color);
  font-family: 'Allura', cursive;
  margin: 0.67em 0 0.67em 0.5em;
}

/* TODO:CHANGE H2 TO SOMETHING ELSE EVERYWHERE; HAS TO BE BODY?? */
h2{
  font-size: 25px;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans serif;
  font-weight: bold;
  margin: 1em 0.5em 0.67em 0.67em;
}


.article-box {
  display: block;
  width: 98vw;
  height: fit-content;
}
.article-box .txt {
  font-size: 25px;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans serif;
  font-weight: bold;
  margin: 1em 0.5em 0.67em 0.67em;
  padding-bottom: 45px;
}

/* For Notes and Letters */
.letter-head {
  font-size: 25px;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans serif;
  font-weight: bold;
  margin: 1em 0.5em 0.67em 0.67em;
  text-align: end;
}
.letter-frmt {
  font-size: 25px;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans serif;
  font-weight: bold;
  padding-bottom: 45px;
  text-align: justify;
  margin: 1em 3vw 0.67em 22vw;
}

/* Home Page Update Bar */
/* TODO: MAKE TITLE BAR FIXED FOR UPDATE BOX */
.sidenav .mainhd{
  font-size: 55px;
  color: var(--sidenav-head);
  font-family: 'Allura', cursive;
  margin: 0 5vw 15px 10px;
  /*border-bottom: 1px solid var(--circle2-color);*/
}
.datebtn .txt{
  font-size: 25px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: var(--text-update);
  padding: 5px 5px 10px 32px;
  transition: 0.5s;
}
.updates .hd{
  margin-left:2vw;
  padding: 1vw 0;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: var(--sidenav-head);
  text-transform: uppercase;
}
.updates .txt{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-left: 2vw;
  text-decoration: none;
  color: var(--text-update);
  text-align: justify;
}

.heart{
  font-size: 25px;
  color: transparent;
  text-shadow: 0 0 0 var(--link);
}

rec-colour-schemes{
  /*Walk on the Beach*/
  sky:#4a73b1;
  sea:#92dccd;
  beach:#dbe4cf;
  wave:#fffefc;
  sand:#ffe9ca;

  /*Sunset Seaside*/
  sky-1:#f9e1e0;
  sky-2:#feadb9;
  sky-3:#bc85a3;
  sea-1:#9799ba;
  sea-2:#bc84a3;

  /*Sandy Seashore*/
  sea:#5ba1b0;
  beach:#acd1d1;
  wave:#dce2e1;
  shell:#d8caae;
  sand:#b18f69;

  /*Santorini Island*/
  base:#fbfbfb;
  shade:#ececec;
  path:#c2b394;
  door:#53b0bd;
  window:#12646f;

  /*Coconut Trees in the Sunset*/
  tree:#240915;
  sky-1:#5d5485;
  sky-2:#d96784;
  sky-3:#ed948b;
  sun:#fdd892;

  /* Sunset Sky */
  sun:#ffe577;
  sky1:#fec051;
  sky2:#ff8967;
  sky3:#fd6051;
  sky4:#392033;

  /* Cute transparent colours */
  orange: rgba(220, 176, 146, 0.8);

}



    /* TODO: Actually look at the rest */

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* fontstyle.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
html {
  mint-color: #46e5ab;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*
::-moz-selection {
  background: #c0ddff;
  text-shadow: none;
}

::selection {
  background: #deffc3;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/*
hr {
  display: block;
  height: 1px;
  border: 1px;
  margin: 1px 1px;
  border-top: 1px solid #ccc;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/*
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/*
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/*
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
/*
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/*
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 *
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/*
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: white !important;
    color: black !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

