/* Fonts Used for each Page */

/*Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Italliano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Josefin+Slab:wght@450&display=swap');

/* Color Scheme */
:root {
  --h1-color:#53b0bd;
  --h2-color:#12646f;
  --text-color: #aeaeae;
}

h1{
  font-size: 70px;
  color: var(--h1-color);
  font-family: 'Allura', cursive;
  margin: 0.67em 0 0.67em 0.5em;
}
h2{
  font-size: 25px;
  color: var(--text-color);
  /*font-family: 'Josefin Slab', serif;*/
  font-family: 'Josefin Sans', sans serif;
  font-weight: bold;
  margin: 1em 0.67em 0.67em;
  padding-bottom: 45px;
}
body{
  background-color: var(--bg-color);
}


/*
:root {
  --bg-color:#fbfbfb;
  --navbar-color-1: #ececec;
  --navbar-color-2: #777777;
  --navbar-hover:#c2b394;
  --h1-color:#53b0bd;
  --title-color: #65d8e5;
  --h2-color:#12646f;
  --h3-color: #67d7e5;
  --circle1-color:#92dccd;
  --circle2-color:#dbe4cf;
  --beach-color: #b8e0e0;
}
.update-box {
  overflow: auto;
  border-radius: 25px;
  width: 500px;
  height: 500px;
  background: var(--beach-color);
  float: left;
  left: -5px;
  top: 15px;
  padding: 5px;
  font-size: 15px;
  color: var(--navbar-color-2);
  font-family: 'Josefin Slab', monospace;
}
.update-box li {

}
.update-box-title {
  overflow:hidden;
  width:500px;
  height:50px;
  background: var(--title-color);
  float:left;
  padding: 5px;
  font-size: 40px;
  color: var(--navbar-color-2);
  font-family: 'Allura', cursive;
  text-align: center;
}
*/
rec-colour-schemes{
  /*Walk on the Beach*/
  sky:#4a73b1;
  sea:#92dccd;
  beach:#dbe4cf;
  wave:#fffefc;
  sand:#ffe9ca;

  /*Sunset Seaside*/
  sky-1:#f9e1e0;
  sky-2:#feadb9;
  sky-3:#bc85a3;
  sea-1:#9799ba;
  sea-2:#bc84a3;

  /*Sandy Seashore*/
  sea:#5ba1b0;
  beach:#acd1d1;
  wave:#dce2e1;
  shell:#d8caae;
  sand:#b18f69;

  /*Santorini Island*/
  base:#fbfbfb;
  shade:#ececec;
  path:#c2b394;
  door:#53b0bd;
  window:#12646f;

  /*Coconut Trees in the Sunset*/
  tree:#240915;
  sky-1:#5d5485;
  sky-2:#d96784;
  sky-3:#ed948b;
  sun:#fdd892;

  /* Sunset Sky */
  sun:#ffe577;
  sky1:#fec051;
  sky2:#ff8967;
  sky3:#fd6051;
  sky4:#392033;
}




  /* Ask Sasha to explain!!!

  div.resume {
    margin-left: 25px;
    padding: 1px 5px;
    height: 100%;
  }

  div.resume > div {
    margin-left: 25px;
  } */


/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* fontstyle.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
html {
  mint-color: #46e5ab;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*
::-moz-selection {
  background: #c0ddff;
  text-shadow: none;
}

::selection {
  background: #deffc3;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/*
hr {
  display: block;
  height: 1px;
  border: 1px;
  margin: 1px 1px;
  border-top: 1px solid #ccc;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/*
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/*
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/*
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
/*
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/*
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 *
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/*
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

