/* Making the Home Screen Update Box */

/* Color Scheme */
:root {
  --sidenav-color: #3475ae;
  --overlay-color: rgba(227, 227, 202, 0.9);
  --overlay-dark: rgba(252, 228, 155,0.9);
  --overlay-darker: rgba(252, 224, 139, 0.8);
  --sidenav-scroll: #d0a144;
  --sidenav-hover: #d0a144;
}

/* The side navigation menu */
.sidenav {
  height: 90%; /* 100% Full-height */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--sidenav-color);
  overflow-x: hidden;
  border-right: 1px solid var(--navbar-border);
  padding-top: 50px;
  transition: 1s;
}
/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 25vw;
  top: 0;
  background: url("../../peerbo.github.io/img/clean-gray-paper.png"),
    linear-gradient(to left, var(--overlay-darker), var(--overlay-color), var(--overlay-dark));
  overflow-x: hidden;
  transition: 0.7s;
}

/* Update Box Scrollbar */
.sidenav::-webkit-scrollbar {
  width: 7px;
}
.sidenav::-webkit-scrollbar-track {
  background: var(--sidenav-color);
}
.sidenav::-webkit-scrollbar-thumb {
  background: var(--sidenav-scroll);
  border-radius: 6px;
  border: 2px solid var(--sidenav-color);
}
/* Overlay Scrollbar */
.overlay::-webkit-scrollbar {
  width: 7px;
}
.overlay::-webkit-scrollbar-track {
  background: url("../../peerbo.github.io/img/clean-gray-paper.png") var(--overlay-darker);
}
.overlay::-webkit-scrollbar-thumb {
  background: url("../../peerbo.github.io/img/clean-gray-paper.png") var(--overlay-darker);
}

/* The sidebar links */
.date {
  position: relative;
}
.datebtn {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  border: none;
}
/* Content inside links */
.updates {
  display: block;
  margin-right: 3vw;
}
/* The close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--text-update);
  display: block;
  transition: 1s;
}

/* Mouse over stuff animation */
.sidenav .closebtn:hover{
  color: var(--sidenav-hover);
}
.date:hover .datebtn .txt{
  color: var(--sidenav-hover);
}
.date:hover .overlay {
  width: 76vw;
}

/* Pushing page content to the right when opening sidebar */
#main {
  transition: margin-left 1s;
}
