/* Main Format of each Page */

/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italliano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/* Color Scheme */
:root {
  --sea1: #11383f;
  --sea2: #277b8c;
  --sea3: #6fc5d6;
  --jade1: #00dc9f;
  --jade2: #00ab7c;
  --jade3: #00a376;
  --bg-color: #2b8799;
  --navbar-color: #70541c;
  --navbar-border: #d0a144;
  --circle1-color: #cc9933;
  --circle2-color: #a27928;
}

html{
  background:  linear-gradient(to top, var(--sea1), var(--sea2), var(--sea3));

}

/* Page Background */
body {
  background: url("https://peerbo.github.io/img/arches.png");
  animation: slide 20s ease-in-out infinite;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

@keyframes slide {
  0% { background-position: top; }
  50% { background-position: center; }
  100% { background-position: top; }
  }

/* Scrollbar */
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-left: 1px solid var(--navbar-border);
}
body::-webkit-scrollbar-thumb {
  background: radial-gradient(ellipse at center, var(--jade1), var(--jade2));
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid var(--jade3);
}

/* Circles */
.big-circle {
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Steering_wheel_ship_1.png"),
      radial-gradient(circle at center,  #0effbc, #00ab7c 10%, transparent 10%) center no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -1;
  left: 15px;
  top: 15px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
  /*animation: rotateWheel 5s;*/
}
.big-circle li{
  position: relative;
  list-style: none;
}

 /* TODO: FIND BETTER TURN */
@keyframes rotateWheel {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  40% {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  60% {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  80% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

    /* TODO: FIX HEADING BEFORE DELETING SMALL-CIRCLE */
.small-circle {
  display: none;
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 70px;
  background-color: var(--circle2-color);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Navigation Bar */
.navbar {
  /* Navbar Position */
  background: linear-gradient(to bottom, var(--circle2-color), var(--circle1-color) 25%, var(--circle2-color) 75%);
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 2px solid black /*(var(--navbar-border))*/;
  margin-left: -8px;
}
.navbar a {
  /* Link Style */
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  transition: .5s;
  -webkit-font-smoothing: antialiased
}
.navbar a:hover {
  /* Hover Links */
  color: var(--navbar-color);
}
.navbar a.active {
  /* Active Links */
  color: var(--navbar-color);
}
.navbar .icon {
  /* Small Screen Link */
  display: none;
}
