/* Main Format of each Page */

/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italliano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/* Color Schemes */
:root {
  --bg-color:#fbfbfb;
  --navbar-color: #ececec;
  --navbar-hover:#c2b394;
  --circle1-color:#92dccd;
  --circle2-color:#dbe4cf;
  --text-color: #aeaeae;
}

/* Background Circles */
.big-circle {
  background-color: var(--circle1-color);
  position: relative;
  z-index: -2;
  left: 15px;
  top: 15px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}
.small-circle {
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 70px;
  background-color: var(--circle2-color);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Navigation Bar */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: var(--bg-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--navbar-hover);
  margin-left: -8px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: var(--navbar-hover);
  color: var(--navbar-color);
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: var(--navbar-hover);
  color: var(--navbar-color);
}
