/* Adjustments for Phones in portrait mode */

/* Margin on the sides */
body{
  margin: 0;
}

/* Main Title */
h1{
  font-size: 50px;
}
.big-circle{
  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.small-circle {
  left: 65px;
  top: 47px;
  height: 93.75px;
  width: 93.75px;
  border-radius: 50%;
}

/* Navigation Bar */
    /* Hide all Except Home */
    /* TODO:GET ACTIVE TO SHOW RATHER THAN JUST HOME */
.navbar a:not(.active) {display: none;}
.navbar a.icon {
  float: right;
  display: block;
}
    /* "Responsive" Class Added */
.navbar.responsive a.icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
  background: linear-gradient(to bottom, var(--circle2-color), var(--circle1-color) 25%, var(--circle2-color) 75%);
  border: 1px solid var(--navbar-color);
}
    /* Design Adjustments */
.navbar {
  color: var(--navbar-color);
  margin-left: 0;
}


/* Homepage Update Bar */
/* TODO:FIX UPDATE TRANSITION FOR UPDATE BAR */
.sidenav .mainhd {
  margin-right: 10px;
  text-align: center;
}
.datebtn .txt {
  text-align: center;
  padding: 10px 5px;
}
.updates .hd {
  text-align: center;
}
.datebtn {
  width: 100vw;
}
.overlay {
  display: none;
  position: relative;
  left: 0;
  width: 100vw;
  height: 0;
  padding-top: 3vh;
  padding-bottom: 2vh;
  border-top: 5px solid var(--sidenav-scroll);
  border-bottom: 5px solid var(--sidenav-scroll);
}
.date:hover .overlay {
  display: block;
  width: 100vw;
  height: fit-content;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position
the close button again, so they don't overlap *
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}               MAKE DATE THE CLOSE BUTTON */


/* About Fading Picture */
img {
  object-fit: cover;
  width: 100vw;
  height: auto;
  overflow: hidden;
}
img {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom,
  color-stop(40%,var(--bg-color)), color-stop(70%,rgba(251,251,251,0.5)),
  color-stop(90%,rgba(251,251,251,0)));
}
.blank-space {
  margin-right: 0;
}
.about-pic {
  /*position: relative;*/
  /*z-index: -1;*/
  /*left: 0;*/
  /*top: 0;*/
  /*right: auto;*/
  /*width: 100vw;*/
  /*margin: 0;*/
  /*display: block;*/
}

